#container {
	width: auto;
	background: #FFFFFF;
	padding: 0px;
	margin: 0px auto;
	text-align: left;
}
header {
	width: auto;
	margin: 0px;
	padding: 0px;
}
#main {
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
	text-align: left;
	width: 100%;
}
footer {
	width: auto;
	margin: 0px;
	padding: 0px;
}
